{% extends "base.html" %}




{% block content %}
<div class="row">
	<div class="col-sm-8">

		<h2>
			{{ object.title }}
		</h2>

		{% if object.productimage_set.count > 0 %}
		<div class="image_product">
			{% for img in object.productimage_set.all %}
			

				<img class="img-responsive" src="{{ img.image.url }}" alt="{{ object.title }}">
			{% endfor %}
		</div>
		{% endif %}

		<h4>{{ object.description }}</h4>
	</div>

	<div class="col-sm-4">
		{% if object.variation_set.count > 1 %}
			<select class="form-control">
				{% for vari_obj in object.variation_set.all %}
		
				<option>{{vari_obj.title}}</option>
				{% endfor %}
			</select>


		{% endif %}

		<br>

		<a href="#">Add to Cart</a>
		<hr>
		<h4>Related Products</h4>
	</div>

</div>



{% endblock %}