{% extends "base.html" %}



<script>
{% block jquery %}

	function setPrice() {
		var price = $(".variation_select option:selected").attr("data-price");
		var sale_price = $(".variation_select option:selected").attr("data-sale-price");
		if (sale_price != "" && sale_price != "None" && sale_price != null) {
			$("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price + "</small></h3>");
		} else {
			$("#price").html(price);
		}
	}
function setPrice() {
		var price = $(".variation_select option:selected").attr("data-price");
		var sale_price = $(".variation_select option:selected").attr("data-sale-price");
		if (sale_price != "" && sale_price != "None" && sale_price != null) {
			$("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price + "</small></h3>");
		} else {
			$("#price").html(price);
		}
	}
	setPrice();
	$(".variation_select").change(function() {
		setPrice();
	});
{% endblock %}
</script>


{% block content %}
<div class="row">
	<div class="col-sm-8">

		<h2>
			{{ object.title }}
		</h2>

		{% if object.productimage_set.count > 0 %}
		<div class="image_product">
			{% for img in object.productimage_set.all %}
			

				<img class="img-responsive" src="{{ img.image.url }}" alt="{{ object.title }}">
			{% endfor %}
		</div>
		{% endif %}

		<h4>{{ object.description }}</h4>
	</div>

	<div class="col-sm-4">
		
		{% if object.variation_set.count > 1 %}
			<h2 id="price">{{ object.variation_set.first.price }}</h2>
			<select class="form-control variation_select">
				{% for vari_obj in object.variation_set.all %}
		
				<option data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{vari_obj.title}}</option>
				{% endfor %}
			</select>

		{% else %}

		<h2 id="price">
			{% if object.variation_set.first.sale_price %}
				{{ object.variation_set.first.sale_price }}
				<small class="og-price">{{ object.variation_set.first.price }}</small>
			{% else %}
			{{ object.variation_set.first.price }}
			{% endif %}
		</h2>


		{% endif %}

		<br>

		<a href="#">Add to Cart</a>
		<hr>
		<p>
			Share <br>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
				<i class="fa fa-facebook-square fa-2x"></i>
			</a>
			<a href="#">
				<i class="fa fa-twitter-square fa-2x"></i>
			</a>
		</p>
		<hr>
		<h4>Related Products</h4>
	</div>

</div>



{% endblock %}